<div class="card m-5">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="row">
        <div class="col-12 text-center">
          <img src="http://openweathermap.org/img/wn/10d@4x.png" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center text-capitalize fs-5 px-2">light intensity drizzle</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <p class="text-center">L:23째 H:33째</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <form class="row g-2">
          <div class="col-auto">
            <input type="text" class="form-control" id="zipcode" placeholder="Zipcode">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </form>
        <h1 class="card-title">Fort Lauderdale</h1>
        <p class="fs-1">23째</p>
        <p class="fs-5">Feels like 28째</p>
        <div class="row g-0 mb-2">
          <div class="col-md-4">
            Pressure: 233
          </div>
          <div class="col-md-4">
            Visibility: 2344
          </div>
          <div class="col-md-4">
            Humidity: 80%
          </div>
        </div>

        <p><small class="text-muted">Cached data</small></p>
      </div>
    </div>
  </div>
</div>
<script>
    document.body.style.background = "url(\"https://source.unsplash.com/random/1600x900/?landscape\") no-repeat center center fixed";
</script>